* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 40, 40);

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

.main {
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    height: calc(100vh - 130px);
}

/* Navigation +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    background-color: rgb(0, 47, 68);
}

.nav-logo img {
    width: 60px;
    height: auto;
    border-radius: 10px;
    margin: 5px 20px 0px 0px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #F9FAF7;
}

.nav a:hover {
    color: #3882F6;
    scale: 1.05;
}

/* Section one +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.s1 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    gap: 20px;
    background-color: rgb(0, 47, 68);
}

.s1-content {
    max-width: 500px;
    padding: 10px;
}

.s1-img {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.s1 img {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / .5);
}

.s1 h1 {
    font-size: 48px;
    color: #F9FAF7;
    font-weight: 1000;
    margin-bottom: 25px;
}

.s1 p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 15px;
}

.s1-slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    
  }
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 12px;
    color: white;
    background-color: rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: 12px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.caption {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.numbertext {
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Aside +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.aside {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    background-color: rgb(200, 200, 200);
}

.aside-content {
    max-width: 500px;
    padding: 10px;
}

.aside h1 {
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-weight: 1000;
    margin-bottom: 25px;
}

.aside p {
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding-bottom: 15px;
}

/* Footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.footer {
    background-color: rgb(0, 47, 68);;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    gap: 20px;
    color: #F9FAF7;
    font-size: 12px;
    padding: 10px 10px;
}

.footer img {
    height:20px;
    width: auto;
}

.footer img:hover {
    scale: 1.2;
}
