.hero-pitt {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2px;

    background-image: url("/images/pitt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
